.glossy-text {
	position: relative;
}

.glossy-text::after {
	content: attr(data-text);
	position: absolute;
	inset: 0;

	/* Put overlay exactly over the original text */
	display: inline-block;
	pointer-events: none;

	/* Make this copy of the text act as a gradient mask */
	color: transparent;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0)
	);
	-webkit-background-clip: text;
	background-clip: text;
}
